$grey0: #bcbfc4;
$grey1: #8d8e94;
$grey2: #d0d0d0;

$blue0: #8ab4f8;

$white0: #e8eaed;

$black0: #202124;

$borderRadius: 10px;

$bodyBgColor: $grey2;

$calculatorBackground: $grey1;
$buttonBackground: $grey0;
$actionButtonBackground: $grey1;
$actionButtonText: $white0;
$buttonText: $black0;
$totalButtonBackground: $blue0;
$totalButtonText: $black0;

$displayBorder: $grey1;
$displayText: $black0;
$displayBackground: $grey0;

$buttonGaps: 5px;
