{% extends "base.html.twig" %}
{% block title %}Mr&Mrs Smith PHP Developer Test{% endblock %}
{% block body %}

    <!-- Canvas -->
    <canvas class="orb-canvas"></canvas>
    <!-- Overlay -->
    <div class="overlay">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner">
            <!-- Title -->
            <h1 class="overlay__title">
                Welcome to
                <span class="text-gradient">Mr & Mrs Smith</span> PHP Developer test
            </h1>
            <!-- Description -->
            <p class="overlay__description">
                This was developed by <strong>Ezequiel Pereira</strong>.
            </p>
            <!-- Buttons -->
            <div class="overlay__btns">

                <button class="overlay__btn overlay__btn--transparent">
                    <a href="https://github.com/EzequielHPP/calculator" target="_blank">
                        Go to git repo <span class="overlay__btn-emoji">🎨</span>
                    </a>
                </button>

                <button class="overlay__btn overlay__btn--colors">
                    <a href="{{ path('calculator_index') }}">
                        <span>View Calculator <span class="overlay__btn-emoji">➗</span></span>
                    </a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
